---
# Common tasks for every VM deployed.
# Target hosts: worker
#

- name: Check availability of VM's
  copy:
    content: "  VM gestionada por los roles/playbooks de Ansible.\n"
    dest: /etc/motd
  become: true

- name: Include the YUM update role
  include_role:
    name: packages
  vars:
    packages:
    - regex_name: bind*
    - regex_name: binutils
    - regex_name: java
    - regex_name: java-devel
    - regex_name: ksh
    - regex_name: mlocate
    - regex_name: sshpass
    - regex_name: tar
    - regex_name: traceroute
    - regex_name: tree
    - regex_name: vim
    - regex_name: wget

- name: Deploying the Java profile.d shell script
  block:
  - name: Create an empty Java profile.d file
    file:
      path: /etc/profile.d/java.sh
      owner: root
      group: root
      mode: '0644'
      state: touch

  - name: Fill the Java profile.d file
    copy:
      dest: /etc/profile.d/java.sh
      content: |
        export JAVA_HOME=/etc/alternatives/jre
        export PATH=${JAVA_HOME}/bin:${PATH}

  become: true
  when: ( group_names | select('match', 'local') | list | length ) == 0

- name: Generate ansible user SSH keys
  user:
    name: ansible
    generate_ssh_key: yes

- name: Granting read permission to every user for ansible authorized_keys file
  file:
    path: "{{ item }}"
    state: touch
    mode: '0644'
  with_items:
  - /home/ansible/.ssh/id_rsa.pub
  - /home/ansible/.ssh/authorized_keys

- name: Enabling ServerAliveInterval and ServerAliveCountMax in SSH service as client
  block:
  - name: Check if ServerAlive parameters are enable
    shell: grep -e AliveInterval -e AliveCountMax /etc/ssh/ssh_config | grep -v '#'
  rescue:
  - name: Enable Host tag
    shell: sed -i "s/# Host.*$/Host \*/" /etc/ssh/ssh_config

  - name: Enable ServerAlive parameters
    lineinfile:
      path: /etc/ssh/ssh_config
      insertafter: '^Host *'
      line: "{{ item }}"
    with_items:
    - '  ServerAliveInterval=20'
    - '  ServerAliveCountMax=360'
  become: true

- name: Enabling ClientAliveInterval and ClientAliveCountMax in SSH service as server
  block:
  - name: Check if ClientAlive parameters are enable
    shell: grep -e AliveInterval -e AliveCountMax /etc/ssh/sshd_config | grep -v '#'
  rescue:
  - name: Enable ClientAlive parameters
    lineinfile:
      path: /etc/ssh/sshd_config
      insertafter: '^UsePAM yes'
      line: "{{ item }}"
    with_items:
    - 'ClientAliveInterval=20'
    - 'ClientAliveCountMax=360'
  always:
  - name: Restart SSH service
    service:
      name: sshd
      state: restarted
  become: true

- name: Disable IPv6 with sysctl
  sysctl: name={{ item }} value=1 state=present reload=yes
  with_items:
  - net.ipv6.conf.all.disable_ipv6
  - net.ipv6.conf.default.disable_ipv6
  - net.ipv6.conf.lo.disable_ipv6

- name: Disable firewalld service
  service:
    name: firewalld
    state: stopped
    enabled: no

- name: Disable SElinux
  selinux:
    state: disabled
  register: reboot_required

#- name: Debug. Show hostvars.inventory_hostname
#  debug:
#    var: hostvars[inventory_hostname]
#
#- name: Debug. Show magic variables
#  debug:
#    var: vars

- name: Reboot the VM
  reboot:
  when: reboot_required.reboot_required
  ignore_errors: true
...
